@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='date']::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
  }

  input[type='date'] {
    appearance: auto;
    -webkit-appearance: auto;
  }
}
